<!-- Template Widgets -->

<header>

    <div class="header__first-row flex-container">

        <div class="tablet-top-bar"></div>
        <div class="flex-item flex-shopbasket">
            {{widget('ecombasket', 'shopbasket', {})|raw}}
        </div>
        <div class="flex-item flex-nav">
            {{widget('extendednavigation', 'navigation', {"align":"right"})|raw}}
        </div>
        <div class="flex-item flex-logo">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
        <div class="flex-item flex-companyname">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>

    </div>
    <div class="default-header-bottom-line"></div>

    <!-- End Template Widgets -->

    <div class="header__second-row flex-container">

        <div class="flex-item flex-page-title">
            {{widget('pagetitle', 'title', {})|raw}}
        </div>

        {% if plugins.ecommerce.store.live %}
            <div class="flex-item flex-product-search">
                <form class="form  ecomproductslist__form js-productlist-display-form" method="GET" action="/store">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="input js-display-control" id="page-zones__main-widgets__ecomproductslistWidget__ecomproductslist__search" name="productlist-search" placeholder="Search Products..." type="search" value="">
                        </div>
                        <div class="form-group">
                            <button class="button  button--submit  ecomproductslist__button" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}

    </div>

</header>



